@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/autoplay'; */


@layer base {
  :root {
    --background: hsl(0, 0%, 0%);
    /* Black background */
    --foreground: hsl(0, 0%, 100%);
    /* White text for contrast */
    --radius: 0.5rem;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    /* Hide scrollbar */
    overflow-y: scroll;
    /* Allow vertical scrolling */
  }

  /* Hide scrollbar for modern browsers */
  body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
  }
}

.progress {
  animation: progress 1.2s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes progress {
  0% {
    transform: translateY(-100%) scaleY(0.3);
    opacity: 0.5;
  }

  50% {
    transform: translateY(0) scaleY(0.6);
    opacity: 1;
  }

  100% {
    transform: translateY(100%) scaleY(0.3);
    opacity: 0.5;
  }
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #ff5722 !important;
  opacity: 1;
}