.swiper-wrapper {
    height: max-content !important;
    width: max-content;
}

.swiper-button-next,
.swiper-button-prev {
    top: 25%;
    z-index: 1000;

}

.swiper-button-next::after,
.swiper-button-prev::after {

    color: orange;

}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.mySwiper {
    max-width: 320px !important;
    margin: 0 auto !important;
}

.teamswiper .swiper-wrapper {
    height: max-content !important;
    padding-bottom: 64px !important;
}

.teamswiper .swiper-scrollbar {
    max-width: 140px !important;
    height: 3px !important;
    bottom: 25px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.teamswiper .swiper-pagination-fraction {
    bottom: 0 !important;
    padding-top: 16px !important;
}

.teamswiper .swiper-button-prev {
    top: 93% !important;
    left: 35% !important;
    z-index: 100 !important;
}

.teamswiper .swiper-button-next {
    top: 93% !important;
    right: 35% !important;
    z-index: 100 !important;
}

.teamswiper .swiper-scrollbar-drag {
    background: rgb(239, 118, 31);
}

.teamswiper .swiper-pagination-total {
    color: rgb(201, 208, 215) !important;
}
