

.swiper-button-next,
.swiper-button-prev {
    
    z-index: 1000;
    scale: 60%;

}

.swiper-button-next::after,
.swiper-button-prev::after {

    color: #ff9800;

}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    color:#f57c00 ;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.mySwiper {
    max-width: 320px !important;
    margin: 0 auto !important;
}
 

.teamswiper .swiper-button-prev {
    top: 98% !important;
    left: 35% !important;
    z-index: 100 !important;
}

.teamswiper .swiper-button-next {
    top: 98% !important;
    right: 35% !important;
    z-index: 100 !important;
}
